# fix renovate not update pnpm-lock.yaml
strict-peer-dependencies=false

# access pnpm phantom dependencies
public-hoist-pattern[]=*types* # default
public-hoist-pattern[]=*eslint* # default
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=commitizen
public-hoist-pattern[]=*semantic-release*
public-hoist-pattern[]=tslib # typescript