name: Release

on:
  push:
    branches:
      - master
    paths:
      - .changeset/**
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    runs-on: [ubuntu-latest]

    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance

    steps:
      - name: Setup JS
        uses: yikoyu/workflows/setup-js@main
        with:
          fetch-all: 'true'
          persist-credentials: false

      - name: Update npm
        run: npm install npm@11.6.1 -g

      - name: Build Config
        run: pnpm build:all

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          commit: 'chore(release): :rocket: release package(s)'
          title: 'chore(release): :rocket: release package(s)'
          version: pnpm changeset version
          publish: pnpm changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          NPM_CONFIG_REGISTRY: https://registry.npmjs.org/
          NPM_CONFIG_PROVENANCE: true
          SKIP_SIMPLE_GIT_HOOKS: 1
          HUSKY: 0
